<!-- <div class="header">
  <div class="row" *ngIf="isLoggedIn()">
    <div class="col-6 logo">
      <h3>MSAL Authentication</h3>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <button class="custom-btn" (click)="logout()">Sign Out</button>
    </div>
  </div>
  <div class="row" *ngIf="!isLoggedIn()">
    <div class="col-6 logo">
      <h3>MSAL Authentication</h3>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <button class="custom-btn" (click)="login()">Sign In</button>
    </div>
  </div>
</div> -->

<table>
  <tr>
    <td><a routerLink="public-page">Public Page</a></td>
    <td><a routerLink="restricted-page" *ngIf="isLoggedIn()">Restriced Page</a></td>
    <td><button class="btn btn-success" (click)="login()" *ngIf="!isLoggedIn()">Sign In</button></td>
    <td><button class="btn btn-success" (click)="logout()" *ngIf="isLoggedIn()">Sign Out</button></td>
  </tr>
</table>

<div *ngIf="isLoggedIn()">
  <h3>You are logged in.</h3>
</div>
<div *ngIf="!isLoggedIn()">
  <h3>You are NOT logged in.</h3>
</div>

<table *ngIf="isLoggedIn()">
  <tr>
    <td><button class="btn btn-danger" (click)="callProfile()">Get Profile</button></td>
  </tr>
  <tr>
    <td><button class="btn btn-danger" (click)="callMessage()">Get Message</button></td>
  </tr>
  <tr>
    <td>API Response:  {{apiResponse}}</td>
  </tr>
</table>
<router-outlet></router-outlet>
